*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    background-image: url("images/page-bg.jpg");
    background-attachment: fixed;
}
hr{
    color: #ddd;
}
.container{
    width: 100%;
    padding-left: 30%;
    padding-right: 10%;
}
.sidebar-menu{
    width: 25%;
    background: #A43F49;
    position: absolute;
    position: fixed;
    z-index: 100000;
    height: 100vh; 
    top: 0;
    left:0;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar-profile-image img{
    border-radius: 50%;
    border: none;
    margin-top: 30px;
}
.sidebar-menu h2{
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 32px;
}
.sidebar-menu h4{
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 18px;
}
.sidebar-menu ul{
    margin-top: 40px;
}
.sidebar-menu ul.main-menu li{
    padding: 20px 0;
    border-bottom: 3px solid #FFFFFF;
}
.sidebar-menu ul li.active, .sidebar-menu ul li.active a{
    background: #FFFFFF;
    color: #A43F49;
}
.sidebar-menu ul li:hover{
    background: #FFFFFF;
    transition: .5s;
}
.sidebar-menu ul li:hover a{
    color: #A43F49;
}
.sidebar-menu ul li a{
    color: #FFFFFF;
    font-size: 18px;
}
.social-profile ul{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}
.social-profile ul li{
    padding: 6px 8px;
    background: #2c2c2c;
    margin: 2px;
}
.copyright-text{
    padding: 20px 0;
    color: #FFFFFF;
}
.about-me >h2{
    text-align: center;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
}
.about-me >h4{
    color: #FFFFFF;

}
.about-me h4{
    text-align: center;
}
.reflux{
    display: flex;
    padding: 30px 0;
}
.left-column{
    width: 80%;
    margin: 20px;
}
.left-column img{
    width: 80%;
    border-radius: 6px;
}
.left-column button a, .right-column button a{
    display: inline-block;
    padding: 12px 20px;
    color: #A43F49;
    font-weight: 500;
    font-size: 18px;
}
.left-column, .right-column{
    width: 50%;    
}
.right-column >h2, .left-column >h2{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 24px;
}
.right-column p, .left-column p{
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.right-column img{
    width: 80%;
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 6px;
}
.expertise-area >h2, h4{
    text-align: center;
    color: #FFFFFF;
}
.expertise-area >h2{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
}
.expertise-area >h4{
    padding: 20px;
    font-size: 16px;
}
.expertise-details{
    display: flex;
}
.left-side-expert, .right-side-expert{
    padding: 40px;
    background-color: rgba(19, 19, 17, 0.3);
    color: #FFFFFF;
    line-height: 2rem;
}
.left-side-expert:hover, .right-side-expert:hover{
    background-color: #FFFFFF;
    pointer-events: cursor;
    color: #000000;
}
.left-side-expert{
    margin-right: 10px;
    margin-bottom: 10px;
}
.right-side-expert{
    margin-bottom: 10px;
}


.my-work h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}
.image-gallery{
    display: flex;
}
.left-image img, .right-image img{
    width: 100%;
    border-radius: 10px;
}
.left-image{
    margin-right: 20px;
    margin-bottom: 50px;
}
.tab ul{
    display: flex;
    padding: 20px 0;
    justify-content: center;
}
.tab ul li{
    display: inline-block;
    padding: 10px;
}

.tab ul li a{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}
.tab ul li.active a{
    color: #A43F49 ;
    border-bottom: 2px solid #A43F49;
}
.tab ul li:hover a{
    color: #A43F49;
    border-bottom: 2px solid #A43F49;
}


.contact-me h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    padding: 20px 0;
}
.contact-me form{
    padding-top: 20px;
    text-align: center;
}
.form-first-row{
    display: flex;
}
.form-first-row .name, .form-first-row .email{
    width: 50%;
}
.form-first-row .name{
    padding-right: 10px;
}
.form-first-row .email{
    padding-left: 10px;
}
.contact-me form input{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px ;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #ddd;
    color: #FFFFFF;
}
textarea{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #ddd;
}
form input[type="submit"]{
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
}